In [1]:
import numpy as np

In [2]:
A = np.array([1, 2, 3])          # Tableau 1D de forme (3,)
B = np.array([[4, 5, 6],         # Tableau 2D de forme (2, 3)
              [7, 8, 9]])

In [3]:
C = B - A
print(C)

[[3 3 3]
 [6 6 6]]